@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --primColor: #000640;
  --secColor: #f3ae41;
  --whiteColor: #ffffff;
  --dirForward: forwards;
  --dirReverse: reverse;
}

@font-face {
  font-family: "Clash Display";
  src: url(assets/ClashDisplay-Variable.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primColor);
}

h1 {
  font-family: "Clash Display";
  font-size: 32px;
  color: white;
  font-weight: 600;
}

h2 {
  font-family: Figtree;
  font-size: 13px;
  color: white;
  font-weight: 400;
}

h3 {
  font-family: "Clash Display";
  font-size: 24px;
  color: white;
  font-weight: 600;
}

p {
  font-family: Figtree;
  font-size: 16px;
  color: white;
  font-weight: 400;
}

.fadeout-horizontal {
  -webkit-mask-image: linear-gradient(to right, transparent, black 50px, black calc(100% - 50px), transparent);
          mask-image: linear-gradient(to right, transparent, black 50px, black calc(100% - 50px), transparent);
}

.headfoot {
  width: -moz-max-content;
  width: max-content;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--secColor);
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Clash Display";
  font-size: 16px;
  font-weight: 600;
}
.headfoot img {
  width: 13px;
  height: 13px;
}

.not-yet {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
  pointer-events: none;
}

.onprogress {
  display: none;
}

.container {
  position: relative;
}

#mobile-header {
  width: -moz-fit-content;
  width: fit-content;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  z-index: 999;
  top: 0;
  left: 0;
}
#mobile-header.active #m-header-button {
  padding-left: 10px;
  box-shadow: none;
}
#mobile-header.active #m-header-button img {
  transform: rotate(-90deg);
}
#mobile-header #m-header-button {
  margin-top: 50px;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  padding: 10px;
  padding-left: 20px;
  border: none;
  background-color: #f3ae41;
  border-radius: 0px 10px 10px 0px;
  transition: all 1s ease-in-out;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 15px 5px;
  z-index: 998;
}
#mobile-header #m-header-button img {
  height: 25px;
  transition: all 1s ease-in-out;
}
#mobile-header #m-header-contents {
  margin-top: 50px;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 15px 15px 15px;
  border-bottom-right-radius: 10px;
  background-color: #f3ae41;
  z-index: 999;
}
#mobile-header #m-header-contents ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
}
#mobile-header #m-header-contents ul li > a {
  text-decoration: none;
  font-family: "Figtree";
  font-size: 18px;
  color: white;
}
#mobile-header #m-header-contents hr {
  border: white solid 1px;
}
#mobile-header #m-header-contents p {
  font-size: 10px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 998;
}

body.nav-open #overlay {
  opacity: 1;
  visibility: visible;
}

#hero::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 6, 64, 0.5);
  z-index: 0;
}

#hero {
  width: 100%;
  height: 100vh;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: end;
  background: url(assets/welcome_img.jpg);
  background-size: cover;
  background-position: center;
  z-index: 1;
}
#hero #ctaMobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  z-index: 3;
}
#hero #ctaMobile .infoMobile {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 150px;
}
#hero #ctaMobile .infoMobile > img {
  width: 74px;
  margin-bottom: -10px;
}
#hero #ctaMobile .infoMobile h1 {
  font-size: 48px;
  margin: -15px 0;
}
#hero #ctaMobile .infoMobile h2 {
  font-family: Figtree;
  font-weight: 400;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
}
#hero #ctaMobile .scrollToExplore {
  display: flex;
  color: white;
  gap: 5px;
  transform: rotate(90deg);
  position: absolute;
  bottom: 80px;
  right: -40px;
  animation: topBottomSte 2.5s infinite ease-in-out;
}
@keyframes topBottomSte {
  0% {
    bottom: 80px;
  }
  50% {
    bottom: 90px;
  }
  100% {
    bottom: 80px;
  }
}
#hero #ctaMobile .scrollToExplore p {
  font-size: 11px;
}
#hero #ctaMobile .scrollToExplore img {
  width: 13px;
  height: 13px;
}

#clients {
  width: 100%;
  padding-block: 50px;
  overflow: clip;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#clients .titles-clients {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#clients .marquee-client {
  display: flex;
  overflow: hidden;
  gap: 20px;
}
#clients .marquee-client .marquee-client-track {
  display: flex;
  flex-shrink: 0;
  justify-content: space-around;
  min-width: 100%;
  gap: 20px;
  animation: marquee-move 10s linear infinite;
}
#clients .marquee-client .marquee-client-track img {
  height: 30px;
  filter: opacity(50%);
}
#clients .marquee-client .marquee-client-track img:hover {
  filter: opacity(100%);
}
@keyframes marquee-move {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}
#clients .marquee-client:hover .marquee-client-track {
  animation-play-state: paused;
}

#about-me {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 50px 20px;
  text-align: center;
  overflow-x: hidden;
}
#about-me .titles-about-me {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
#about-me .titles-about-me h1 {
  font-family: "Clash Display";
  font-size: 13px;
  font-weight: 500;
  color: var(--secColor);
}
#about-me .titles-about-me h2 {
  font-family: "Clash Display";
  font-size: 32px;
  font-weight: 600;
}
#about-me .content-about-me {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

#about-me > img {
  position: absolute;
  z-index: -1;
  filter: opacity(10%);
  width: 383px;
  transform: translateX(-10px);
}
@keyframes gradientChange {
  0% {
    transform: scale(1.3);
    filter: opacity(0%);
  }
  25% {
    transform: scale(1);
    filter: opacity(10%);
  }
  50% {
    transform: scale(1);
    filter: opacity(10%);
  }
  75% {
    transform: scale(1);
    filter: opacity(10%);
  }
  100% {
    transform: scale(1.3);
    filter: opacity(0%);
  }
}

#skills {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 50px 20px;
  text-align: center;
}
#skills div {
  width: 100%;
  display: flex;
}
#skills .titles-skills {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
#skills .titles-skills h1 {
  font-family: "Clash Display";
  font-size: 13px;
  font-weight: 500;
  color: var(--secColor);
}
#skills .titles-skills h2 {
  font-family: "Clash Display";
  font-size: 32px;
  font-weight: 600;
}
#skills .description-skills {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  gap: 25px;
  text-align: center;
}
#skills .description-skills .content-d-s {
  flex-direction: column;
  gap: 10px;
}
#skills .description-skills .content-d-s hr {
  border: 1px solid var(--secColor);
}

#portofolio {
  position: relative;
  width: 100%;
  padding-block: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow-x: hidden;
}
#portofolio .titles-portofolio {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0px 20px;
  gap: 5px;
  justify-content: center;
}
#portofolio .titles-portofolio h1 {
  font-family: "Clash Display";
  font-size: 13px;
  font-weight: 500;
  color: var(--secColor);
}
#portofolio .titles-portofolio h2 {
  font-family: "Clash Display";
  font-size: 32px;
  font-weight: 600;
}
#portofolio .slider-portofolio {
  position: relative;
  overflow-x: scroll;
  overflow-y: visible;
  display: flex;
  gap: 30px;
  padding: 50px 20px 50px 20px;
  align-items: center;
}
#portofolio .slider-portofolio p {
  width: 100%;
}
#portofolio .slider-portofolio div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 20px;
  gap: 8px;
  height: 300px;
  min-width: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  border: white solid 1px;
  text-align: left;
  transition-duration: 300ms;
}
#portofolio .slider-portofolio div p {
  font-family: "Clash Display";
  font-size: 20px;
  font-weight: 600;
}
#portofolio .slider-portofolio div:hover {
  box-shadow: #f3ae41 5px 5px 0px 0px;
  transform: translateX(-5px) translateY(-5px);
}

#portofolio > img {
  position: absolute;
  z-index: -1;
  filter: opacity(10%);
  transform: translateX(-700px) translateY(30px);
}

#footer-cta {
  position: relative;
  width: 100%;
  padding: 25px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
  overflow-x: hidden;
}
#footer-cta .footer-cta-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#footer-cta .footer-cta-text h1 {
  font-family: "Clash Display";
  font-size: 13px;
  font-weight: 500;
  color: var(--secColor);
}
#footer-cta .footer-cta-text h2 {
  font-family: "Clash Display";
  font-size: 32px;
  font-weight: 600;
}
#footer-cta .footer-cta-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#footer-cta > img {
  position: absolute;
  z-index: -1;
  filter: opacity(10%);
  width: 383px;
  transform: translateX(-10px);
}

footer {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}
footer .footer-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
footer .footer-nav div {
  width: 100%;
}
footer .footer-nav div ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
}
footer .footer-nav div ul li > a {
  text-decoration: none;
  font-family: "Figtree";
  font-size: 13px;
  color: white;
}
footer hr {
  width: 100%;
  border: white solid 1px;
}
footer p {
  font-size: 13px;
}

@media screen and (min-width: 700px) {
  .onprogress {
    position: fixed;
    padding: 30px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 3;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    text-align: center;
  }
  .onprogress h1 {
    font-size: 5vw;
  }
  .onprogress p {
    font-size: 1.2vw;
  }
}/*# sourceMappingURL=style.css.map */